@import "./master.css";

.styled-toast {
    width: 300px;
    height: 119px;
    border-radius: 32px;
    background: var(--white);
    position: fixed;
    bottom: 20px;
    right: 20px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.35);
}

.styled-toast p.message {
    font-size: 14px;
    max-width: 60%;
}

.styled-toast button.closeButton {
    position: absolute;
    right: 20px;
    top: 15px;
}

.styled-toast img.toastImage {
    position: absolute;
    left: 0px;
    top: -35px;
    /* half of the image height */
}

.styled-toast img.toastLogo {
    position: absolute;
    left: 0px;
    bottom: 0px;
    opacity: 0.2;
}

.styled-toast.success {
    background: var(--olivedrab);
    color: var(--white);
}

.styled-toast.failure {
    background: var(--tomato);
    color: var(--white);
}

.styled-toast.info {
    background: var(--cornflowerblue);
    color: var(--white);
}

.styled-toast.warning {
    background: var(--coral);
    color: var(--white);
}